
/* layout fixes */
.clearfix {
	padding-left: 0px!important;
	padding-right: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.spacer {
  width: 30px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background-color: transparent;
}

/* forms and inputs */
input:focus, textarea:focus, keygen:focus, select:focus {
    outline-offset: none!important;
}
user agent stylesheet
:focus {
    outline: none!important;
}
form {
  padding: 0px!important;
}

/* links */
a {
  color: #333333;
  text-decoration:  none!important;
}
a:focus, a:hover {
    color: #333333;
    text-decoration: none!important;
}
/* text foramtting */
p {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 300;
}
.h2 {
  margin-top: -44px;
  margin-bottom: 28px;
  font-family: 'Proxima Nova', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.h2.logged-in {
  margin-top: 0px;
}

.h1 {
  display: inline-block;
  margin: 0px 30px;
  font-family: 'Proxima Nova', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
}
.inline-block {
  display: inline-block!important;
}
.block {
  display: block!important;
}