/*----- fonts -----*/
@font-face {
  font-family: 'Neue Hass';
  src: url('../fonts/NeueHaasUnicaPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Hass';
  src: url('../fonts/NeueHaasUnicaPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Hass';
  src: url('../fonts/NeueHaasUnicaPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Neue Hass';
  src: url('../fonts/NeueHaasUnicaPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mercury';
  src: url('../fonts/MercuryTextG2-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Extrabold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

/* body and main content */
.body {
  background-color: #ebebeb;
  font-family: 'Neue Hass', sans-serif;
  font-weight: 500;
  text-align: left;
}
.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  min-height: 490px;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: -webkit-radial-gradient(circle farthest-corner at 100% 100%, rgba(53, 212, 204, .8), rgba(108, 73, 213, .8)), url('../images/6929481924_e41812909a_o (1).jpg');
  background-image: radial-gradient(circle farthest-corner at 100% 100%, rgba(53, 212, 204, .8), rgba(108, 73, 213, .8)), url('../images/6929481924_e41812909a_o (1).jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-align: center;
}

.hero.logged-in {
  height: 40vh;
  min-height: 490px;
}

.subhero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 30vh;
  min-height: 200px;
  background-color: #f6f6f6;
}

/* navigation */
.navbar {
  border-radius: none!important;
}
.navbar-default {
    background-color: #ffffff;
    border: none!important;
    box-shadow: none!important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none!important;
}
.navbar-default .navbar-nav>li>a {
    color: #6d6a7f;
    font-family: 'Proxima Nova', sans-serif;    
    text-transform: uppercase;  
    font-weight: 600;
    letter-spacing: 0.4px;
}
ul.nav.navbar-nav.navbar-right {
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 14px;
    text-align: right; 
}
.navbar-default .navbar-nav>li>a:hover {
    color: #50F9EE;    
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ddd;
}
.navbar-default .navbar-toggle{
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover {
  background-color: transparent; 
}
.main-nav {
  padding: 15px;
}
.logo {
  margin-top: 7px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
}
.header-link {
  border-bottom: none; 
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}
.header-link.right {
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  border: 2px solid #fff;
  border-radius: 24px;
  letter-spacing: 1px;
}
i.fa {
	font-size: 1.5em;
	color: #AFA9B1;
}
i.fa:hover {
	color: #50F9EE;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
  transform: scale(0.9);
}
.container-search {
  display: none;
}
.icon-search {
  display: none;
}
.navbar-form {
  display: none;
}
.profile-name {
  text-align: right;
  font-size: 13px;
  color: #767A8B;
  margin-right: 30px;
}
.profile-type {
  color: #9B9B9B;
  font-size: 11px;
}
.nav-avatar {
  position: absolute;
  top: 7px;
  right: 111px;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  background-image: url('../images/avatar.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.unread-indicator {
  position: absolute;
  top: 7px;
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 14px;
  min-width: 14px;
  padding-right: 2px;
  padding-left: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #ef6166;
}
/*----- Section Headers -----*/
.container-section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.text-section-header {
  display: inline-block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 2px;
}
.section-header-divider {
  width: 24px;
  height: 3px;
  margin-right: 10px;
  background-color: #5d46cc;
}

/*----- Cards -----*/
.container-listing {
  padding-top: 100px;
  padding-bottom: 120px;
}
.card-container {
  text-align: center;
}
.card:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.card {
  position: relative;
  min-width: 290px;
  height: 400px;
  margin-bottom: 60px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}
.inner-card-wrapper {
  margin: 0px 30px;
  min-height: 60px;
  text-align: left;
  position: relative;
}
.crew-name-container {
  min-height: 122px;
  padding-top: 20px;
}
.location {
  font-size: 12px;
}
.crew-name {
  font-family: 'Mercury';
  font-size: 22px;
  color: #1DBFB4;
}
.crew-image-container {
  min-height: 122px;
  padding-top: 20px;
}
.crew-image {
  width: 90px;
  height: 90px;
  position: absolute;
  right: -20px;
  top: 23px;
  background-color: yellow;
  border-radius: 100%;
}
.crew-avatar {
  padding: 0px;
  width: 90px;
  height: 90px;
}
.crew-role {
  font-family: 'Neue Hass', sans-serif;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 15px;
}
.crew-bio {
  position: absolute;
  top: 10px;
  display: block;
  font-family: 'Neue Hass', sans-serif;
  font-weight: 400;
  color: #464646;
  font-size: 12px;
  line-height: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 100px;
}
.skill-container {
  width: 250px;
  position: absolute;
  top: 135px;
}
.crew-skills {
  display: inline-block;
  line-height: 10px;
}
.crew-skills-spacer {
  height: 22px;
}
.skill-font {
  font-style: italic;
  color: #454251;
  font-size: 11px;
  display: inline-block;
}
.video-color-code {
  background-color: #0030FF;
  width: 6px;
  height: 3px;
  margin: 3px;
  display: inline-block;
}
.event-color-code {
  background-color: #A269FF;
  width: 6px;
  height: 3px;
  margin: 3px;
  display: inline-block;
}
.photography-color-code {
  background-color: #09DBC8;
  width: 6px;
  height: 3px;
  margin: 3px;
  display: inline-block;
}
.performing-color-code {
  background-color: #20A8F1;
  width: 6px;
  height: 3px;
  margin: 3px;
  display: inline-block;
}
.follow {
  position: absolute;
  top: 350px;
}
.add {
  background-color: #B7B7B7;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  display: table;
  padding-bottom: 1px;
}
.plus {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  padding: 2px 4px;
}
.add-text {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 12px;
  color: #333333;
  font-weight: 500;
}
.added {
  background-color: #9CC931;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  display: table;
  padding-bottom: 1px;
}
.added-text {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 12px;
  color: rgba(51,51,51,0.38);
  font-weight: 500;
}
.check-mark {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 13px;
  color: white;
  font-weight: bold;
  line-height: 14px;
  padding: 2px 4px;
}
.stars {
  display: table;
  min-height: 17px;
}
.star-icon {
  width: 15px;
  height: auto;
  display: table-cell;
  vertical-align: middle;
}
.star-text {
  font-size: 13px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: -15px;
}

/*----- Responsive Media Queries -----*/
@media (min-width: 360px) {
  

}
@media (min-width: 375px) {
  
}

@media (min-width: 400px) {
  
}

@media (min-width: 566px) {

}

@media (min-width: 768px) {
  .main-nav {
    height: 80px;
  }
  .unread-indicator {
    top: 7px;
    right: 6px;
  }
  .nav-avatar {
    right: -35px;
    top: 4px;
  }
  ul.nav.navbar-nav.navbar-right {
    margin-left: 0px;
    margin-right: 0px;
  }
  .nav>li>a {
    padding: 10px 10px;
  }
  .dropdown {
    display: inline-block;
    width: 130px;
  }
  .logged-in-user {
    display: inline;
    position: absolute;
    top: 8px;
    right: -10px;
  }


  /*--- Cards ---*/

}

@media (min-width: 992px) {
  
  .navbar-default .navbar-nav>li>a.header-link {
    text-align: left;
    color: #6D6A7F;
    background-position: 50% 100%;
    background-size: 0% 4px;
    background-repeat: no-repeat;
    transition: all 0.5s linear;
    background-image: -webkit-linear-gradient(left, #6C49D5, #358FD4);  
    background-image: linear-gradient(to right, #6C49D5, #358FD4);
  }
  .navbar-default .navbar-nav>li>a.header-link:hover {
    color: #6D6A7F;
    background-size: 100% 4px;
  }
  .navbar-form {
    display: inline-block;
    padding: 0px;
    margin-top: 0px;
    margin-left: 20px;
  }
  input#nav-search {
    background-color: rgba(0,0,0, 0.08);
    border-radius: 24px;
    border-bottom: none!important;
  }
  input#nav-search:focus {
    color: #6D6A7F;
  }
  #nav-search.form-control:focus {
    border-color: rgba(0,0,0,0.08);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  }
  .container-search {
    display: inline-block;
    height: 32px;
    margin-top: 6px;
    padding-right: 20px;
    padding-left: 16px;
    float: right;
    border-style: none;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, .3);
    opacity: 1;
    font-family: 'Proxima Nova', sans-serif;
    color: #6D6A7F;
    font-weight: 300;
    position: relative;
  }
  
  i.fa.nav-search {
    font-size: 13px;
    position: absolute;
    top: 30px;
    padding-left: 8px;
  }
   ul.nav.navbar-nav.navbar-right {
    width: 250px;
  }
  .logged-in-user {
    position: absolute;
    top: 8px;
    right: -15px;
  }
  .user-name {
    top: 5px;
    position: absolute;
    right: 30px;
  }
  .dropdown-menu {
      position: absolute;
      top: 50px;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      font-size: 14px;
      text-align: left;
      list-style: none;
      background-color: #fff;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: none!important;
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }

}
@media (min-width: 1100px) {
  .container-search {
    width: 240px!important;
  }
  ul.nav.navbar-nav.navbar-right {
    margin-left: 0px;
    margin-right: 30px;
  }
  .unread-indicator {
    top: 8px;
    right: 4px;
  }
}

@media (min-width: 1170px) {
  .nav>li>a {
    padding: 15px 15px;
  }
  .unread-indicator {
    right: 10px;
  }
  .navbar-form {
    margin-left: 50px;
  }
}
@media (min-width: 1366px) {
   .navbar-form {
    margin-left: 110px;
  }
}
@media (min-width: 1440px) {
	
}

